[Unit]
Description=Website paulmin.nl
After=network-online.target
After=local-fs.target

[Container]
Image=paulmin.nl/website
PublishPort=3001:3001
AutoUpdate=local

[Install]
WantedBy=default.target
