[Unit]
Description=Website paulmin.nl
After=network-online.target
After=local-fs.target

[Container]
Image=docker.io/paulusminus/http-serve
PublishPort=3001:3001
AutoUpdate=registry

[Install]
WantedBy=default.target
